.flex-container {
    display: flex;
}
.flex-item {
    flex: 1;  
}
h1+ul{
    list-style-type: none;
    max-width: 500px; /*Decided to align the navigation list in the center for visual aesthetics*/
    margin: auto;
}
h1{
    text-align: center; /*Decided to align the heading in the center for visual aesthetics*/
}
header, main, aside, footer {
    border: solid black 1px;
    margin: 10px;
    padding: 10px;
}
.container{
    display: grid;
    grid-template-columns: 1fr 4fr; 
    grid-template-rows: auto 1fr auto; 
    gap: 5px;
    height: 100vh;
}
.box1 {
    grid-column: 1 / -1; 
    grid-row: 1;
}
.box2 {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
}
.box3 {
    grid-column: 1;
    grid-row: 2;
}
.box4 {
    grid-column: 1 / -1; 
    grid-row: 3;
}
#results{
    border: solid black 3px;
    border-style: dashed;
    margin: 10px;
    padding: 10px;
    flex: 1;
    
}
.searchresult{
    border: solid black 1px;
    margin: 5px;
    padding: 5px;
    display: inline-block;
}
.searchresult p{
    margin-top: 5px; 
    margin-bottom: 5px;
}

.form2{
    display: none;
}

img{
    width: 70px;
}

@media (max-width: 500px) {
    .box2{
        grid-column: 1/-1;
    }
    .box3 {
        grid-row: 3;
    }

    .box4 {
        grid-column: 2; 
    }
    .flex-container {
        flex-direction: column;
    }
}
